{% extends "users/home.html" %}
{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ object.club.img.url }}"> 
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'other-profile' object.club.user.username %}">{{ object.club.user.username }}</a>
            <small class="text-muted">{{ object.date | date:"Y F-d" }}</small>  
        </div>
    </div>
</article>
{% endblock content %}
