{% extends 'users/home.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        {% for match in matches %}
            <div class="card p-2 mb-3" style="width: 22rem;">
                <div class="media-body">
                    <img class="rounded-circle article-img" src="{{ match.club.img.url }}"> 
                    <span>Numero di prenotati: {{match.number_subscribed}}/{{match.group_size}}</span>
                    <div class="article-metadata">
                        <a class="mr-2" href="{% url 'other-profile' match.club.user.username %}">{{ match.club.user.username }}</a>
                        <small class="text-muted">{{ match.date | date:"Y-F-d f" }}</small>
                    </div>
                    {% if match.number_subscribed < match.group_size%}
                        <button class="btn btn-outline-info mb-2">
                            <a class="nav-link" href="{% url 'match-detail' match.pk %}">Prenota</a>
                        </button>
                    {% else %}
                        NON PUOI PRENOTARTI
                    {% endif%}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content%}