{% extends 'users/home.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="col-md-6 offset-md-3 d-flex align-items-center p-3 my-3 text-white bg-dark rounded shadow-sm mb-1">
        <div class="lh-1">
        <h1 class="h6 mb-0 text-white lh-1">Reset Password</h1>
        </div>  
    </div>
    <div class="col-md-6 offset-md-3 p-3 my-3 bg-body rounded shadow-sm mt-1">
        <form method="POST">
            {% csrf_token %} <!-- INSERT FOR SECURITY OF DJANGO FORMS -->
            <fieldset class="form-group">
                {{ form|crispy }}
            </fieldset>
            <div class="form-group mt-2">
                <button class="btn btn-outline-info" type="submit">Reset password</button>
            </div>
        </form>
    </div>
{% endblock content%}