{% extends 'users/base_user.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <div class="media">
        {% if user.playerprofile %}
          <img class="rounded-circle account-img" src="{{ user.playerprofile.img.url }}">
        {% else %}
          <img class="rounded-circle account-img" src="{{ user.clubprofile.img.url }}">
        {% endif %}
        <div class="media-body">
          <h2 class="account-heading">{{user.username}}</h2>
          <p class="text-secondary">{{user.email}}</p>
        </div>
      </div>
      <!-- FORM HERE enctype needed to upload and save images -->
      <form method="POST" enctype="multipart/form-data">
            {% csrf_token %} <!-- INSERT FOR SECURITY OF DJANGO FORMS -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group mt-4">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
      </form>
    </div>
{% endblock content%}